Packs/HelloWorldPremium/TestPlaybooks/playbook-HelloWorldPremium-Test.yml
id: HelloWorldPremium-Test
version: -1
name: HelloWorldPremium-Test
description: 'HelloWorldPremium Test Playbook - for documentation on how to write
  test playbooks please refer to: https://xsoar.pan.dev/docs/integrations/test-playbooks'
starttaskid: "0"
fromversion: 5.0.0
tasks:
  "0":
    id: "0"
    taskid: 51e0fdd9-b131-431c-8314-e165c46d0bb2
    type: start
    task:
      id: 51e0fdd9-b131-431c-8314-e165c46d0bb2
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "1":
    id: "1"
    taskid: 1d9f6510-2d6f-41b4-88a9-d6fe100e8a1a
    type: regular
    task:
      id: 1d9f6510-2d6f-41b4-88a9-d6fe100e8a1a
      version: -1
      name: DeleteContext
      description: Delete All the Context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "2":
    id: "2"
    taskid: 7a78cdbd-76b4-47f3-82bb-be7e8176d653
    type: regular
    task:
      id: 7a78cdbd-76b4-47f3-82bb-be7e8176d653
      version: -1
      name: helloworldpremium-say-hello
      description: Run the helloworldpremium-say-hello-command with argument name
        set to "Dbot"
      script: '|||helloworldpremium-say-hello'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      name:
        simple: Dbot
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "3":
    id: "3"
    taskid: fc2d9ec5-b905-4eca-84ec-59493bd54a92
    type: condition
    task:
      id: fc2d9ec5-b905-4eca-84ec-59493bd54a92
      version: -1
      name: Verify Outputs
      description: Verify the outputs.
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "31"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: hello
            iscontext: true
          right:
            value:
              simple: Hello Dbot
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "4":
    id: "4"
    taskid: b1e22e93-cb3e-4c28-8c3c-a8356a0f92c5
    type: regular
    task:
      id: b1e22e93-cb3e-4c28-8c3c-a8356a0f92c5
      version: -1
      name: helloworldpremium-search-alerts
      description: Run the helloworldpremium-search-alerts command to find an alert
      script: '|||helloworldpremium-search-alerts'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      alert_type:
        simple: Bug
      max_results:
        simple: "1"
      severity:
        simple: Critical
      start_time:
        simple: "1587717640"
      status:
        simple: ACTIVE
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 865
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "5":
    id: "5"
    taskid: 535fec9a-025d-4cc6-8d90-4629a67bbb22
    type: condition
    task:
      id: 535fec9a-025d-4cc6-8d90-4629a67bbb22
      version: -1
      name: Verify Outputs
      description: Check if an alert of type Bug and severity 4 (Critical) is found
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "6"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Alert.alert_id
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: HelloWorldPremium.Alert.alert_status
            iscontext: true
          right:
            value:
              simple: ACTIVE
      - - operator: isEqualString
          left:
            value:
              simple: HelloWorldPremium.Alert.alert_type
            iscontext: true
          right:
            value:
              simple: Bug
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Alert.created
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Alert.name
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: HelloWorldPremium.Alert.severity
            iscontext: true
          right:
            value:
              simple: Critical
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "6":
    id: "6"
    taskid: 89b3d881-21e2-4dbc-8749-33f612c0999b
    type: regular
    task:
      id: 89b3d881-21e2-4dbc-8749-33f612c0999b
      version: -1
      name: helloworldpremium-get-alert
      description: Get the alert details for the alert retrieved in the previous task
      script: '|||helloworldpremium-get-alert'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      alert_id:
        complex:
          root: HelloWorldPremium
          accessor: Alert.alert_id
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1215
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "7":
    id: "7"
    taskid: 9d7966ee-a557-4285-8e0a-d9097f539643
    type: condition
    task:
      id: 9d7966ee-a557-4285-8e0a-d9097f539643
      version: -1
      name: Verify Outputs
      description: Check if all the alert detail fields are present
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "8"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Alert.alert_id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Alert.created
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Alert.description
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Alert.device_id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Alert.device_ip
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Alert.location
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Alert.user
            iscontext: true
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "8":
    id: "8"
    taskid: 1feeff82-825f-4be0-89e0-29dd4b67fe40
    type: regular
    task:
      id: 1feeff82-825f-4be0-89e0-29dd4b67fe40
      version: -1
      name: helloworldpremium-update-alert-status
      description: Change the previous alert status to CLOSED using helloworldpremium-update-alert-status
      script: '|||helloworldpremium-update-alert-status'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      alert_id:
        complex:
          root: HelloWorldPremium
          accessor: Alert.alert_id
      status:
        simple: CLOSED
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1565
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "9":
    id: "9"
    taskid: 2ffb2e69-34db-421e-8ed5-25497a7a3469
    type: condition
    task:
      id: 2ffb2e69-34db-421e-8ed5-25497a7a3469
      version: -1
      name: Verify Outputs
      description: Check if the alert has been closed correctly
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "30"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Alert.alert_id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Alert.updated
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: HelloWorldPremium.Alert.alert_status
            iscontext: true
          right:
            value:
              simple: CLOSED
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1740
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "10":
    id: "10"
    taskid: c76fa624-c4eb-420f-8152-ba966c75b4cd
    type: regular
    task:
      id: c76fa624-c4eb-420f-8152-ba966c75b4cd
      version: -1
      name: ip
      description: Get ip reputation for ip '8.8.8.8'
      script: 'HelloWorldPremium|||ip'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      ip:
        simple: 8.8.8.8
      threshold: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2060
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "11":
    id: "11"
    taskid: c7c1f72a-0374-4696-8ec8-7d8c68233f5f
    type: condition
    task:
      id: c7c1f72a-0374-4696-8ec8-7d8c68233f5f
      version: -1
      name: Verify Outputs
      description: Check if the ip command returns accurate data
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "22"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsString
          left:
            value:
              complex:
                root: DBotScore
                accessor: Indicator
                transformers:
                - operator: GetFirstObject
            iscontext: true
          right:
            value:
              simple: 8.8.8.8
      - - operator: InRange
          left:
            value:
              complex:
                root: DBotScore
                accessor: Score
                transformers:
                - operator: GetFirstObject
            iscontext: true
          right:
            value:
              simple: 0,3
      - - operator: containsString
          left:
            value:
              complex:
                root: DBotScore
                accessor: Type
                transformers:
                - operator: GetFirstObject
            iscontext: true
          right:
            value:
              simple: ip
      - - operator: containsString
          left:
            value:
              complex:
                root: DBotScore
                accessor: Vendor
                transformers:
                - operator: GetFirstObject
            iscontext: true
          right:
            value:
              simple: HelloWorldPremium
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.IP.asn
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.IP.asn_cidr
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.IP.asn_country_code
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: HelloWorldPremium.IP.ip
            iscontext: true
          right:
            value:
              simple: 8.8.8.8
      - - operator: isEqualString
          left:
            value:
              simple: HelloWorldPremium.IP.query
            iscontext: true
          right:
            value:
              simple: 8.8.8.8
      - - operator: InRange
          left:
            value:
              simple: HelloWorldPremium.IP.score
            iscontext: true
          right:
            value:
              simple: 0,100
      - - operator: isNotEmpty
          left:
            value:
              simple: IP.ASN
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: IP.Address
            iscontext: true
          right:
            value:
              simple: 8.8.8.8
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2235
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "12":
    id: "12"
    taskid: c7c02cb5-0cd3-4d71-882d-e87fb9fd46c3
    type: regular
    task:
      id: c7c02cb5-0cd3-4d71-882d-e87fb9fd46c3
      version: -1
      name: domain
      description: Run the domain command for domain 'google.com'
      script: 'HelloWorldPremium|||domain'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      domain:
        simple: google.com
      threshold: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2585
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "13":
    id: "13"
    taskid: 414519f2-742d-43f7-8a85-d8bd1c737697
    type: condition
    task:
      id: 414519f2-742d-43f7-8a85-d8bd1c737697
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "29"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsString
          left:
            value:
              simple: DBotScore.Indicator
            iscontext: true
          right:
            value:
              simple: google.com
      - - operator: InRange
          left:
            value:
              complex:
                root: DBotScore
                accessor: Score
                transformers:
                - operator: GetFirstObject
            iscontext: true
          right:
            value:
              simple: 0,3
      - - operator: containsString
          left:
            value:
              simple: DBotScore.Type
            iscontext: true
          right:
            value:
              simple: domain
      - - operator: containsString
          left:
            value:
              simple: DBotScore.Vendor
            iscontext: true
          right:
            value:
              simple: HelloWorldPremium
      - - operator: isEqualString
          left:
            value:
              simple: Domain.Name
            iscontext: true
          right:
            value:
              simple: google.com
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Domain.country
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Domain.creation_date
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: HelloWorldPremium.Domain.domain
            iscontext: true
          right:
            value:
              simple: google.com
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Domain.expiration_date
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Domain.registrar
            iscontext: true
      - - operator: InRange
          left:
            value:
              simple: HelloWorldPremium.Domain.score
            iscontext: true
          right:
            value:
              simple: 0,100
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Domain.updated_date
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Domain.WHOIS.NameServers
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Domain.WHOIS.CreationDate
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Domain.WHOIS.ExpirationDate
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Domain.WHOIS.UpdatedDate
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Domain.Organization
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Domain.WHOIS.Registrar.Name
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: Domain.Registrant.Country
            iscontext: true
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "14":
    id: "14"
    taskid: 1bd41523-e74c-4926-8e3c-aee3a5037e8d
    type: regular
    task:
      id: 1bd41523-e74c-4926-8e3c-aee3a5037e8d
      version: -1
      name: helloworldpremium-scan-start
      description: Run scan on hostname 'testhost123.local'
      script: '|||helloworldpremium-scan-start'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "15"
    scriptarguments:
      hostname:
        simple: testhost123.local
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3080
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "15":
    id: "15"
    taskid: 81ee1292-5b0a-4715-86b9-5837d71dba82
    type: condition
    task:
      id: 81ee1292-5b0a-4715-86b9-5837d71dba82
      version: -1
      name: Verify Outputs
      description: Verify details of the domain
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "16"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Scan.scan_id
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: HelloWorldPremium.Scan.status
            iscontext: true
          right:
            value:
              simple: RUNNING
      - - operator: isEqualString
          left:
            value:
              simple: HelloWorldPremium.Scan.hostname
            iscontext: true
          right:
            value:
              simple: testhost123.local
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3255
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "16":
    id: "16"
    taskid: a889b81b-ee4f-4347-8faf-2757efb0934c
    type: regular
    task:
      id: a889b81b-ee4f-4347-8faf-2757efb0934c
      version: -1
      name: helloworldpremium-scan-status
      description: Test the scan status
      script: '|||helloworldpremium-scan-status'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      scan_id:
        complex:
          root: HelloWorldPremium
          accessor: Scan.scan_id
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3430
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "17":
    id: "17"
    taskid: 0e2e2977-3b2c-4f8f-899d-a4f280e80d7b
    type: condition
    task:
      id: 0e2e2977-3b2c-4f8f-899d-a4f280e80d7b
      version: -1
      name: Verify Outputs
      description: Check if the scan is either running or complete
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "18"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Scan.scan_id
            iscontext: true
      - - operator: inList
          left:
            value:
              simple: HelloWorldPremium.Scan.status
            iscontext: true
          right:
            value:
              simple: RUNNING,COMPLETE
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3605
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "18":
    id: "18"
    taskid: 80284041-8bb6-4094-88b4-82415b7a0e65
    type: regular
    task:
      id: 80284041-8bb6-4094-88b4-82415b7a0e65
      version: -1
      name: helloworldpremium-scan-results
      description: Retrieve the scan results in json format
      script: '|||helloworldpremium-scan-results'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      format:
        simple: json
      scan_id:
        complex:
          root: HelloWorldPremium
          accessor: Scan.scan_id
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3780
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "19":
    id: "19"
    taskid: d7c6752d-6174-4002-8509-7a741fff9684
    type: condition
    task:
      id: d7c6752d-6174-4002-8509-7a741fff9684
      version: -1
      name: Verify Outputs
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "25"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Scan.entities.entity-id
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Scan.entities.ip_address
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Scan.entities.type
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Scan.entities.vulnerability_status
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Scan.entities.vulns
            iscontext: true
      - - operator: isNotEmpty
          left:
            value:
              simple: HelloWorldPremium.Scan.scan_id
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: HelloWorldPremium.Scan.status
            iscontext: true
          right:
            value:
              simple: COMPLETE
      - - operator: isNotEmpty
          left:
            value:
              simple: CVE.ID
            iscontext: true
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3955
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "20":
    id: "20"
    taskid: b038c798-aad8-4bff-89a9-1efc5cc58b18
    type: title
    task:
      id: b038c798-aad8-4bff-89a9-1efc5cc58b18
      version: -1
      name: Test Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 5295
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "21":
    id: "21"
    taskid: 7e4214fe-3912-41c1-819c-3c51c6306d35
    type: regular
    task:
      id: 7e4214fe-3912-41c1-819c-3c51c6306d35
      version: -1
      name: Test Fetch Incidents
      description: Execute FetchIncident for a given instance. We get the instance
        name from the module.
      scriptName: FetchFromInstance
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "26"
    scriptarguments:
      add_to_context: {}
      brand_name:
        simple: HelloWorldPremium
      error_msg_in_incident: {}
      expect_data: {}
      instance_name: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4450
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "22":
    id: "22"
    taskid: 7778ec78-e35c-4f1d-8920-83ca46452bb2
    type: regular
    task:
      id: 7778ec78-e35c-4f1d-8920-83ca46452bb2
      version: -1
      name: DeleteContext
      description: Delete Context to make sure the DBotScore is not tainted from the
        previous command
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "23":
    id: "23"
    taskid: 700bc441-4233-464c-8db9-f496d7baa6e1
    type: regular
    task:
      id: 700bc441-4233-464c-8db9-f496d7baa6e1
      version: -1
      name: DeleteContext
      description: Clean up the Context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4770
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "24":
    id: "24"
    taskid: 208b1390-a9c5-42a7-8a87-4ed304734ab2
    type: regular
    task:
      id: 208b1390-a9c5-42a7-8a87-4ed304734ab2
      version: -1
      name: DeleteContext
      description: Clean up the Context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "21"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4275
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "25":
    id: "25"
    taskid: b074841f-4221-4ff5-8098-96e0cbbbd3a2
    type: title
    task:
      id: b074841f-4221-4ff5-8098-96e0cbbbd3a2
      version: -1
      name: Test Fetch Incidents
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "24"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "26":
    id: "26"
    taskid: 9df16629-4860-4c68-85d7-279b93f88df5
    type: title
    task:
      id: 9df16629-4860-4c68-85d7-279b93f88df5
      version: -1
      name: Test Automation Script
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "23"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4625
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "27":
    id: "27"
    taskid: bb8f54f7-c200-4aaf-8143-605438d73636
    type: regular
    task:
      id: bb8f54f7-c200-4aaf-8143-605438d73636
      version: -1
      name: HelloWorldPremiumScript
      description: Run HelloWorldPremiumScript with "Dbot" as argument
      script: HelloWorldPremiumScript
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      name:
        simple: Dbot
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 4945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "28":
    id: "28"
    taskid: 12a17eb2-7660-47a6-82d2-da3b65346f86
    type: condition
    task:
      id: 12a17eb2-7660-47a6-82d2-da3b65346f86
      version: -1
      name: Verify Outputs
      description: Verify output from script
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "20"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: HelloWorldPremium.hello
            iscontext: true
          right:
            value:
              simple: Hello Dbot
    view: |-
      {
        "position": {
          "x": 50,
          "y": 5120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "29":
    id: "29"
    taskid: eb23b066-5419-4393-8aee-f164b3f5dc1c
    type: title
    task:
      id: eb23b066-5419-4393-8aee-f164b3f5dc1c
      version: -1
      name: Test Scan Commands
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "14"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2935
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "30":
    id: "30"
    taskid: ca926607-58a2-4df5-89b0-263eb21a5f2b
    type: title
    task:
      id: ca926607-58a2-4df5-89b0-263eb21a5f2b
      version: -1
      name: Test Reputation Commands
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1915
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "31":
    id: "31"
    taskid: 6c7ef7a2-6746-469a-85e3-c8ef8b886477
    type: title
    task:
      id: 6c7ef7a2-6746-469a-85e3-c8ef8b886477
      version: -1
      name: Test Alert Commands
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 5310,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
